
    /* Style Settings */
    body {
      background-color: white;
      font-family: "Roboto", sans-serif;
      margin: auto;
      padding: 10px;
      display: flex column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: center;
    }

    
    .Bottom-Section {
      margin: auto;
      width: 50%;
      align-items: center;
    }

    #userPhoto {
      width: 150px;
      height: 150px;
      display: block;
      margin: 45px auto 30px;
      border-radius: 50%;
      /*border: solid lightgray 2px;*/
      /*border: solid #e6e6e6 2px*/
      box-shadow: 0px 7px 15px rgba(20, 20, 20, 0.5);
    }

    #userPhoto:hover {
        width: 200px;
        height: 200px;
      }

    #userName {
      color: #1c1c1c;
      font-size: 25px;
      display: block;
      margin: auto;
      width: 50%;
      text-align: center;
      text-decoration: none;
    }

    #links {
      max-width: 600px;
      width: auto;
      margin: 25px auto;
      display: flex column;
      flex-wrap: wrap;
      padding: 10px;
    }

    .link {
      display: block;
      background-color: #e6e6e6;
      color: #1c1c1c;
      font-family: inherit;
      text-align: center;
      margin-bottom: 20px;
      padding: 17px;
      text-decoration: none;
      font-size: 20px;
      border: solid #e6e6e6 2px;
      box-shadow: 0px 7px 15px rgba(20, 20, 20, 0.5);
    }

    .link:hover {
      background-color: gray;
      /*background-color: #1c1c1c;*/
      color: #e6e6e6;
    }

    .icon-container {
      display: flex;
      justify-content: space-evenly;
      padding: 15px;
      margin: auto;
      width: 60%;
      align-items: center;
      text-align: center;
    }

    .icon {
      font-size: 30px;
      color: #bbb;
      opacity: 0.6;
      height: 30px;
      text-decoration: none;
    }

    .icon:hover {
      color: gray;
      opacity: 1.6;
    }

    p {
      text-align: center;
      color: #bbb;
    }

    /*This Glowing Hover Effect was made by qpi65 , i used it to Highlight my name */
    h1 {
      color: #484848;
      font-size: 30px;
      font-weight: bold;
      font-family: monospace;
      letter-spacing: 7px;
      cursor: pointer;
    }

    h1 span {
      transition: .5s linear;
    }

    h1:hover span {
      color: black;
      text-shadow:
        0 0 10px #fff,
        0 0 20px white,
        0 0 40px black;
    }
    /*This Glowing Hover Effect was made by qpi65 , i used it to Highlight my name */

    /* Media Queries  */
    @media screen and (max-width: 375px){
      .icon h1{
        text-align: center;
        letter-spacing: 2px;
      }
    }
